.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.info a {
  color: var(--color-primary);
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}